.center-block {
    margin:0 auto;
    display:block;
}
.answer-group {
}
.answer-group-item {padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);    border-radius: .25rem;
}