<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="/content/bootstrap.min.css" rel="stylesheet" />
    <link href="/content/style.css" rel="stylesheet" />
    <script type="text/javascript" src="/scripts/jquery-1.9.1.min.js"></script>    
    <script type="text/javascript" src="/scripts/jquery.cookie.js"></script>    
    <script src="https://unpkg.com/vue"></script>
    
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
    <script type="text/javascript" src="/scripts/senapp.js"></script>
</body>
</html>
